
/* first step page */
#showRegister{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#emailWachtwoordForm{
  align-items: flex-start;
  max-width: 415px;
  margin: 0px 75px 0px 120px;
}

#Waarom {
  flex: 1;
  max-width: 415px;
}

#lijn{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid rgb(231, 231, 231);
  max-width: 1px;
  flex: 1;
  height: 350px;
  margin: 0px 15px 0px 15px;

}

/* second step page */
#showNaamAdres{
  display: flex;
  justify-content: center;
  align-items: center;
}

#naam{
  align-items: center;
  max-width: 300px;
  height: 350px;
}

#adres{
  flex: 1;
  max-width: 300px;
  height: 350px;
}

#textFieldName{
  margin-top:12px;
}

/* last step page */
#showBetaalInfo{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px 0px 34px 0px;
}

/* done with steps */
#getStepsDone{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px 0px 34px 0px;
}

/* Buttons */
#button{
  width:300px;
}


#buttonsBackNext{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}





#een{
  display: block;
  float: left;
}

#twee{
  margin: 50px 0px 50px 350px;
  display: block;
  width: 700px;
  float: left;
}

#drie {
  margin: 50px 0px 50px 350px;
  display: block;
  width: 700px;
  float: left;
}

#betalen{
  margin: 0px 0px 50px 0px;
}

#stappen{
  margin: 10px 0px 50px 0px;
  float: left;
}

#voornaam{
  margin-top:51px;
  
}

#uno {
  border: 0px solid black;
  border-radius: 50%;
  width: 30px;
  height: 25px;
  text-align: center;
  float: left;
  margin: 0px 10px 0px 0px;
  padding-top: 5px;
  background-color: #53B534;
  color: white;
}

#unoText {
  float: left;
  margin: 0px 10px 0px 0px;
  padding-top: 5px;
}

#dos {
  border: 1px solid black;
  border-radius: 50%;
  width: 30px;
  height: 25px;
  text-align: center;
  float: left;
  margin: 0px 10px 0px 10px;
  padding-top: 5px;
}

#dosText {
  float: left;
  margin: 0px 10px 0px 0px;
  padding-top: 5px;
}

#dosTwee {
  border: 0px solid black;
  border-radius: 50%;
  width: 30px;
  height: 25px;
  text-align: center;
  float: left;
  margin: 0px 10px 0px 0px;
  padding-top: 5px;
  background-color: #53B534;
  color: white;
}

#tres {
  border: 1px solid black;
  border-radius: 50%;
  width: 30px;
  height: 25px;
  text-align: center;
  float: left;
  margin: 0px 10px 0px 10px;
  padding-top: 5px;
}

#tresText {
  float: left;
  margin: 0px 10px 0px 0px;
  padding-top: 5px;
}

#for{
  float:left;
  margin-left: 150px;
  margin-top: -10px;
}

#email{
  width:300px;
  margin-left:15px;
}

#pas{
  width:300px;
  margin-left:15px;
}


#buttonNext{
  width:300px;
  margin: 0px 10px 0px 10px;
  display: none;
}

