.dashboardSection{
  display: block;
}

#aantalGebruikers{
  margin-bottom: 20px;
}

#meestVerkocht{
  margin-bottom: 20px;
}

#meestBekekenSchilder{
  margin-bottom: 20px;
}

#meestBekekenSchilderij{
  margin-bottom: 20px;
}

#minstBekeken{
  margin-bottom: 20px;
}

#minstVerkocht{
  margin-bottom: 20px;
}

#aantalGebruikers{
  padding-bottom:20px;
}