.item-container{
  margin: 10px;
  display: flex;
  flex-grow: 1;
  flex-flow: column nowrap;
}

.item-image{
  /* max-height: 100%;
  max-width: 100%; */
  display: block;
}

.item-details{
  display: flex;
  flex-flow: row nowrap;
  margin-top: 12px;
}

.item-details-text{
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  margin-right: 10px;
  width: inherit;
}

.item-details-action{
  display: flex;
  flex-flow: row nowrap;
  align-self: center;
}

.item-details-action-button{
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

.error{
  display: flex;
  flex-flow: row nowrap;
  height: calc(100% - 80px);
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid black;
}

#painter-cover{
  object-fit: cover;
}

.cover-details{
  color: white;
  font-size: 2em;
  position: relative;
  top: -70px;
  left: 30px;
}