.dropdown{
  text-align: left;
  display: none;
  flex-flow: column nowrap;
  position: relative;
  width: 300px;
  background: white;
  border: 1px solid #eeeeee;
  border-radius: 2px;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.15);
  -moz-box-shadow:    0px 5px 15px 0px rgba(50, 50, 50, 0.15);
  box-shadow:         0px 5px 15px 0px rgba(50, 50, 50, 0.15);
  z-index: 10;
}

.menu-title{
  font-family: "IBM Plex Sans", 'Roboto', sans-serif;
  font-size: 1.5em;
  margin: 15px;
}

.dropdown-form{
  display: flex;
  flex-flow: column nowrap;
  margin: 0px 15px 20px 15px;
}

.login-input{
  margin-bottom: 15px !important;
}


.dropdown-button{
  border: none;
  background: #53B534;
  margin: 0 15px 15px 15px;
  padding: 10px 0;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
}

.onboarding-container{
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  background: #eeeeee;
  padding: 15px 0;
  margin: 10px 0 0 0;
}

.onboarding-link{
  font-weight: bold;
  margin-top: 5px;
}

/* USER IS LOGGED IN */

.dropdown-account{
  display: flex;
  flex-flow: column nowrap;
}

.menu-title-greeting{
  font-family: "IBM Plex Sans", 'Roboto', sans-serif;
  font-size: 1.2em;
  margin: 15px 15px -20px 15px;
  color: #808080;
}

.menu-title-account{
  text-transform: capitalize;
  font-family: "IBM Plex Sans", 'Roboto', sans-serif;
  font-size: 1.5em;
  margin: 15px;
}

.menu-account-link{
  font-weight: bold;
  margin: 0 0 10px 15px;
}

.logout-button{
  margin: 20px 15px 15px 15px !important;
  width: calc(100% - 30px);
} 