.login-container{
  max-width: 350px;
  display: block;
  margin: 0 auto;
  border: 1px solid #eeeeee;
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
}
.menu-title{
  font-family: "IBM Plex Sans", 'Roboto', sans-serif;
  font-size: 1.5em;
  margin: 15px;
}

.login-form{
  display: flex;
  flex-flow: column nowrap;
  margin: 10px 15px 10px 15px;
}

.login-form > .login-input{
  margin-bottom: 15px;
}

.login-button{
  margin: 0 15px 15px 15px !important;
  width: calc(100% - 30px);
}

.onboarding-link-login{
  width: 100%;
}