footer {
    background-color: rgba(238, 238, 238, 0.7);
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: stretch;
}

footer > div{
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
    max-width: 220px;
}

footer > div > span{
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'IBM Plex Sans', 'Roboto', sans-serif;
}

.y-divider{
    max-width: 2px;
    min-height: 100%;
}