footer {
    background-color: rgba(238, 238, 238, 0.7);
    width: 100%;
    min-height: 200px;
}

.footer-container{
    min-height: 250px;
    max-width: 1300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.footer-container > div{
    min-width: 250px;
    height: 200px;
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-flow: column nowrap;
    border-left: 2px solid rgb(231, 231, 231);
}

.footer-container > div:first-child{
    padding-left: 2px;
    border-left: none;
}

.footer-container > div > ul{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.footer-container > div > ul > li{
    margin-bottom: 5px;
}

.footer-container > div > ul > li::before{
    content: "✔️ ";
}

.footer-container > div > span{
    margin-bottom: 20px;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'IBM Plex Sans', 'Roboto', sans-serif;
}

.payment-methods{
    width: 60%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: space-between;
}