.image-container{
  flex-basis: 100%;
  /* background: #eeeeee; */
}

.image-container > img{
  flex-basis: 100%;
  /* background: #eeeeee; */
  max-width: 100%;
  max-height: 600px;
  object-fit: contain;
}

.details-container{
  flex-basis: 100%;
  margin-left: 50px;
}

.details-title{
  font-size: 3em;
  line-height: .9;
}

.details-author{
  font-size: 1.5em;
  color: grey;
  margin-top: 5px;
  text-transform: capitalize;
}

.details-author > a{
  font-size: 1.5em;
  color: grey;
  margin-top: 5px;
  text-transform: capitalize;
}

.details-price{
  font-size: 2.5em;
  margin: 25px 0;
}

.details-info{
  margin-bottom: 10px;
}

.details-info::before{
  content: "✔️ ";
}

.info-container{
  flex-basis: 100%;
}

.more-container{
  flex-basis: 100%;
}

.rc-select-selection{
  border: 1px solid rgb(217, 217, 217);
  border-radius: 2px;
  height: 30px !important;
  width: 90px;
}